.sidebarOpen {
  width: 250px;
  padding: 50px 25px;
  overflow-y: scroll;
  border-right: 1px solid black;
  margin-left: 0;
  transition: margin-left ease-out 0.2s;
}

.sidebarClosed {
  width: 250px;
  padding: 50px 25px;
  overflow-y: scroll;
  border-right: 1px solid black;
  margin-left: -250px;
  transition: margin-left ease-out 0.2s;
}

.navButton {
  position: absolute;
  top: 18px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;

  div {
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background-color: black;
    margin: 4px 0;
  }
}
